DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/safeclock?sslmode=require"
NEXTAUTH_SECRET="remplacez-par-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY=""
EMAIL_FROM="SafeClock <noreply@votredomaine.com>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
